# =========================
# Python / Django
# =========================
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.db
.DS_Store

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
*.ipr
*.iws
android/.gradle/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# =========================
# VS Code / IDE
# =========================
.vscode/
*.code-workspace
